// Widescreens
@include mediaXL {
    .project {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Desktops and Laptops
@include mediaLg {
    .project {
        grid-template-columns: repeat(3, 1fr);
    }
}

// tablets and small laptops
@include mediaMd {
    .main {
        text-align: center;
        align-items: center;
        .lg-heading {
            margin-bottom: 1rem;
            line-height: 1;
        }
    }
    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);
        .portrait {
            height: 150px;
            width: 150px;
            background: url('../image/resized_pc.jpg');
        }
    }
    .menu-nav {
        transform: translate3d(-100%, 0, 0);
        height: 75vh;
        .nav-item {
            font-size: 25px;
        }
    }
    .about-info {
        grid-template-areas: 'img-bio' 'bio' 'job1''job2' 'job3';
        grid-template-columns: 1fr;
        text-align: center;
        .img-bio {
            margin: 0 auto;
        }
    }
    .project {
        grid-template-columns: repeat(2, 1fr);
    }
}

// smartphones
@include mediaSm {
    .main#home h1 {
        margin-top: 10vh;
        text-align: center;
        font-size: 3rem;
    }
    .project {
        grid-template-columns: 1fr;
    }
}